.home-container {
  margin: 0;
  height: 100vh;
  background-image: url('/home-page-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

h1 {
  margin: 0;
  padding-top: 5vh;
}

.heading-white {
  color: white;
}

.heading-green {
  color: #3AA6AD;
}

.room-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-buttons {
  display: flex;
  flex-direction: row;
}