.home-container {
  margin: 0;
  height: 100vh;
  background-color: #3F444B;
  /* background-image: url('/home-page-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh; */
}

.logo {
  font-size: 5rem;
  color: #3AA6AD;
  -webkit-text-stroke: 5px black;
  margin: 0;
  padding-top: 5vh;
}

.heading-white {
  color: white;
}

.heading-green {
  color: #3AA6AD;
}

.room-container {
  /* background-image: url('/home-page-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%; */
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
}

button, select {
  width: 20vw;
  font-size: 2rem;
  color: white;
  background-color: #3AA6AD;
  border: 2px white solid;
}