.home-container {
  margin: 0;
  height: 100vh;
  background-color: #3f444b;
  /* background-image: url('/home-page-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh; */
}

.logo {
  font-size: 5rem;
  color: #3aa6ad;
  -webkit-text-stroke: 5px black;
  margin: 0;
  padding-top: 5vh;
}

.heading-white {
  color: white;
}

.heading-green {
  color: #3aa6ad;
}

.room-container {
  /* background-image: url('/home-page-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%; */
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
}

.create-room {
  display: flex;
  flex-direction: column;
}

button,
select {
  width: 20vw;
  font-size: 2rem;
  color: white;
  background-color: #3aa6ad;
  border: 2px white solid;
}

.text-area-label {
  background-color: "#37474f";
  color: "#eceff1";
}

.text-area-root {
  background-color: "#37474f";
  color: "#eceff1";
}
.text-field {
  background-color: "#37474f";
  color: "#eceff1";
}
.create-room-modal {
  color: white;
}
.create-room-modal .MuiInputLabel-animated {
  color: white;
}
