.home-container {
  height: 100vh;
  background-image: url('/home-page-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

h1 {
  padding-top: 5vh;
}

.heading-white {
  color: white;
}

.heading-green {
  color: #3AA6AD;
}

.room-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}