.rooms-body {
  background-color: #3F444B;
  height: 100vh;
  /* background: url('https://i.ytimg.com/vi/tn0ZuPJqmjg/maxresdefault.jpg'); */
  background: url('https://img.freepik.com/free-photo/dark-blue-glow-dust-particle-abstract-background_35672-1414.jpg?size=626&ext=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.back-icon {
  position: absolute;
  top: 3rem;
  right: 8rem;
  color: white;
}

.rooms-list {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  height: 75%;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.teamstream {
  font-family: 'Bad Script', cursive;
  font-size: 5vw;
  margin: 0;
  color: white;
}

.empty-room {
  width: 30%;
  height: 40%;
  background-color: #0D7C83;
  border-radius: 1rem;
}

.info {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}