.rooms-body {
  background-color: #3f444b;
  height: 100vh;
  background: url("../images/bg-2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.teamstream-back-home {
  font-family: "Bad Script", cursive;
  font-size: 5rem;
  margin: 0;
  color: white;
}

.teamstream-back-home:hover {
  cursor: pointer;
}

.rooms-list {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  height: 75%;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.empty-room {
  width: 30%;
  height: 40%;
  background-color: #0d7c83;
  border-radius: 1rem;
}

.footer-info {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}
