.chat-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.youtube-player {
  width: 75vw;
}

.youtube-player-expanded {
  width: 95vw;
  justify-self: center;
}
.player-with-controls {
  display: flex;
  flex-direction: column;
}

.text-chat-expanded {
  width: 25vw;
  display: flex;
  flex-direction: row;
}
.toggle-chat {
  display: flex;
  height: 100%;
  align-items: center;
}
.toggle-button {
  color: #10959d;
}

.copy-link {
  position: absolute;
  top: 2vh;
  right: 5vw;
}

@media only screen and (max-width: 1000px) {
  div .youtube-player {
    width: 60vw !important;
  }
}
