.chat-aside {
  display: block;
  width: 22vw;
  background: rgb(43, 43, 43);
  margin-right: 3vw;
}

.hidden {
  display: none;
}

.aside-logo {
  font-family: "Bad Script", cursive;
  font-size: 2.5vw;
  font-weight: bold;
  color: turquoise;
  color: rgb(23, 243, 255);
  padding: 1vh;
  outline-offset: -0.5vw;
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 1000px) {
  div.chat-aside {
    width: 37vw !important;
  }

  div .aside-logo {
    font-size: 3vw;
  }
}
