.progress-bar {
  padding: 0 5px;
  width: 99%;
}

/* .MuiSvgIcon-root {
  color: #10959D;
} */

.controls {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-scroll-padding {
  margin: 2px;
  padding: 5px;
}

.global-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}