.all-controls {
  color: #10959D;
}

.progress-bar {
  padding: 0 5px;
  width: 99%;
  background-color: black;
}

.controls {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-scroll-padding {
  margin: 2px;
  padding: 5px;
}

.global-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-icons {
  margin: 0;
}

.control-icons:hover {
  color:rgb(23, 243, 255);
  cursor: pointer;
}