.all-controls {
  color: #10959D;
}

/* input[type=range] {
  -webkit-appearance: none;
  background-color: silver;
  height:20px;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #10959D;
  opacity: 0.5;
  width: 10px;
  height: 26px;
} */

.progress-bar {
  padding: 0 5px;
  width: 99%;
  background-color: black;
}

/* .MuiSvgIcon-root {
  color: #10959D;
} */

.controls {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-scroll-padding {
  margin: 2px;
  padding: 5px;
}

.global-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}