.leave-room {
  margin-top: 5vh;
}

.leave-room h1 {
  color: white;
  font-family: "Bad Script", cursive;
}

.leave-room p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1vw;
  color: white;
}

.leave-button {
  margin-top: 40vh;
  width: 60%;
  font-size: 1.5vw;
  border-radius: 15px;
  color: #10959d;
  border: #10959d 2px solid;
  background: rgb(43, 43, 43);
}

.leave-button:hover {
  color: rgb(23, 243, 255);
  border: rgb(23, 243, 255) 2px solid;
  cursor: pointer;
  background: rgb(66 66 66);
}

.leave-room .alert {
  margin: 2vh auto;
  width: 70%;
  font-size: 1vw;
  color: red;
}

@media only screen and (max-width: 1000px) {
  .leave-room .alert {
    font-size: 1.5vw !important;
  }

  .leave-button {
    font-size: 1.9vw;
  }

  .leave-room p {
    font-size: 1.5vw;
  }
}
