
 .message {
	background-color: #828282;
  border-radius: 5px;
  padding: 7px;
}

 .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: white;
	opacity: 0.7;
}

.message .meta span {
	color: rgb(59, 59, 59);
}

p.meta p.text{
  margin-top:5px;
  margin-bottom:5px;
}


