
 .message {
	background-color: #a1a1a189;
  border-radius: 5px;
	width: 75%;
}

.left {
	margin: 1vh auto 0 0;
	background:rgba(70, 149, 155, 0.619);
}
.right {
	margin: 1vh 0 0 auto;
	background:rgba(139, 246, 254, 0.536);
}
.middle {
	width: 100%;
	margin: 1vh auto 0 auto;
}

.message-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.242);
	border-radius: 5px 5px 0 0;
	padding: 2%;
}

.message-header p{
	margin: 0;
}

.message-text {
	margin: 1vh auto;
}


