.new-user div {
  color: #10959d;
}

.new-user div:hover {
  color: rgb(23, 243, 255);
  cursor: pointer;
}

.new-user p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5vw;
}

.new-user {
  margin-top: 8vh;
}

@media only screen and (max-width: 1000px) {
  .new-user p {
    font-size: 2vw;
    margin: 1vw;
  }
}
