.queue-li {
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  align-items: center;
  height: 10vh;
  background: rgb(181, 181, 181);
}

.queue-thumbnail-img {
  height: 10vh;
  width: 6vw;
}

.queue-info {
  margin: auto;
}


.queue-info p {
  margin: 0;
}

.queue-info p.title {
  font-weight: bold;
  margin-bottom: 1vh;
}