.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  width: 25%;
  min-width: 320px;
  max-width: 400px;
  color: white;
  background-color: #00000080;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgb(35 173 255);
  margin: 3rem;
}

.room:hover {
  box-shadow: 0 0 4rem rgb(35 173 255);
}

.thumbnail {
  height: 90%;
  width: 90%;
  margin: 1rem 1rem 0 1rem;
  background-color: black;
  border-radius: 0.5rem;
}

.room-info {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.room-info h2,
h5 {
  margin: 0;
  text-shadow: 2px 2px 4px #000000;
}

.room-info h5 {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.join-room {
  font-size: 1.5rem;
  width: 20%;
  background-color: black;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 1rem;
}

.join-room:hover {
  background-color: rgba(35, 173, 255, 0.71);
  color: black;
  border: 2px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.join-room:focus {
  outline: 0;
}

.join-room:active {
  transform: scale(0.9);
  background-color: darken(button-bg, 5%);
  box-shadow: 0 2px 25px #3aa6ad;
}
