.search-list-item {
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  align-items: center;
  height: 10vh;
  background: rgb(181, 181, 181);
}

.search-thumbnail-img {
  height: 10vh;
  width: 6vw;
}

.search-info {
  margin: auto;
}


.search-info p {
  font-weight: bold;
  font-size: 0.7vw;
  width: 90%;
  margin: 0 auto;
}

.search-info button {
  font-weight:bold;
  background: #10959D;
  border-radius: 10px;
  color: rgb(66 66 66);
  border: 1px solid rgb(66 66 66);
  width: 4vw;
  font-size: 0.7vw;
  margin-top: 1vh;
}

.search-info button:hover {
  cursor:pointer;
  background: rgb(23, 243, 255);
}

.search-info button:focus{
  outline: none;
}

.search-info button:active{
  transform: scale(0.9);
}

@media only screen and (max-width: 1000px) {
  img.search-thumbnail-img {
    width: 12vw !important;
  }
  div.search-info p {
    font-size: 1.2vw;
  }

  .search-info button {
    font-size:1vw;
  }
}