.search-list-item {
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  align-items: center;
  height: 10vh;
  background: rgb(181, 181, 181);
}

.search-thumbnail-img {
  height: 10vh;
  width: 6vw;
}

.search-info {
  margin: auto;
}


.search-info p {
  font-size: 0.7vw;
  width: 90%;
  margin: 0 auto;
}

.search-info button {
  background: rgb(22, 158, 182);
  border-radius: 5px;
  color: white;
  width: 6vw;
  font-size: 0.7vw;
  margin-top: 1vh;
}