.text-chat {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 90%;
  overflow: auto;
  padding: 1vh 1vw;
}

.message-form {
  width: 90%;
  margin: auto;
}

.message-form textarea {
  width: 95%;
  height: 7vh;
  border-radius: 10px;
  border: 1px solid lightgrey;
  color: lightgrey;
  letter-spacing: 1px;
  background: transparent;
  resize: none;
  margin: 2vh auto;
  padding: 0.5vw;
  font-size: 1vw;
}

.message-form textarea:focus {
  outline: none;
}

.chat-button {
  background-color: #10959d;
  width: 100%;
  border: none;
  height: 4vh;
  border-radius: 10px;
  color: rgb(43, 43, 43);
  /* color: #3F444B; */
  font-size: 1vw;
}

.chat-button:hover {
  background-color: rgb(23, 243, 255);
  cursor: pointer;
}

.chat-button:focus {
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .message-form textarea {
    font-size: 1.7vw !important;
  }

  button.chat-button {
    font-size: 1.7vw;
  }
}
