.user-li {
  background: rgb(70 149 155);
  color: rgb(52, 52, 52);
  display: flex;
  flex-direction: row;
  margin: 1vh 1vw;
  font-size: 1vw;
  align-items: center;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
  padding-left: 1vw;
}

.user-name {
  margin-left: 1vw;
}