.v-nav {
  background: rgb(66 66 66);
  display:flex;
  flex-direction: column;
  list-style: none;
  color: rgb(70, 150, 155);
  color: #10959D;
  padding: 0;
  margin: 0;
  width: 3vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top:0;
}

.v-nav .active {
  color: rgb(23, 243, 255);
}

.v-nav-icon {
  margin: 3vh auto;
}
.v-nav-icon:hover {
  color:rgb(23, 243, 255);
  cursor: pointer;
}

